body,html{
    margin: 0;
    padding: 0;
}

.page{
    height: 70vh;
    display: flex;
}
.pageAccueil{
    display: none;
    flex-direction: column;
    align-items: center;
}
/* -------------------------------Colors------------------------------- */
.primaryColor{
    color: #A238FF;
}

.secondaryColor{
    color: #8370E0;
}

/* -------------------------------navBar design------------------------------- */
.navBar{
    height: 10vh;
    width: 100%;
    background-color: #A238FF;
    display: flex;
}

.logo{
    height: 4vh;
    width: 4vh;
}


/* -------------------------------sign up and login design------------------------------- */
.signupBox{
    display: flex;
}

.signupUsernameInput,.signupPasswordInput,.loginPasswordInput,.loginUsernameInput{
    width: 100%;
    max-width: 30vh;
    border-radius: 10px;
    border:2px solid #A238FF;
}

.signupBtn,.loginBtn{
    background-color: #A238FF;
    border: none;
    color: white;
    padding: 1vh;
    border-radius: 10px;
    width: 75%;
}

.account{
    width: 100%;
    border:none;
    background-color: white;
}

.loginBox{
    display: none;
}

/*-------------------------------home Page-------------------------------  */
.usernameBoxAccueil{
    display: flex;
    width: 30%;
    min-width: 50vh;
    padding: 1vh;
    border:2px solid #8370E0;
    margin-top:2vh;
    align-items: center;
}

.textUsernameBoxAccueil{
    color: #A238FF;
    font-weight: bold;
    font-size: 4vh;
}

.imageUsernameBoxAccueil{
    height: 4vh;
    width: 4vh;
    border-radius: 50px;
    margin-left: 2vh;
    margin-right: 2vh;
}

/*-------------------------------chat Page-------------------------------  */

.pageChat{
    height: 80vh;
    width: 100%;
    display: none;
}

.boxChat{
    display: flex;
    flex-direction: column;
    height: 65vh;
    max-height: 65vh;
    width: 50vh;
    overflow-y: scroll;
}

.inputChatBox{
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputAddImage{

}
input[type=file]::file-selector-button {
    border: none;
    background-color: #A238FF;
    color: white;
    padding: 0.5vh;
    border-radius: 10px;
    margin-left: 2vh;
    font-weight: bold;
}


.editButton{
    background-color: #A238FF;
    color: white;
    padding: 1vh;
    border-radius: 10px;
    margin-left: 2vh;
    border: none;
}

.editButton{
    background-color: #A238FF;
    color: white;
    padding: 1vh;
    border-radius: 10px;
    margin-left: 2vh;
}

button:disabled {
    background-color: lightgray;
    color: white;
}
.iconSend{
    height: 4vh;
    width: 4vh;
    fill: #A238FF;
}
.buttonChatBtn{
    background-color: white;
    border: none;
}
.refreshButton{
    border: none;
    padding: 0.5vh;
    background-color: #A238FF;
    color: white;
    border-radius: 10px;
    margin-left: 2vh;
}

.divPrivateMessage{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 15px;
    border:2px solid #8370E0;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-bottom: 1.5vh;
}

.messageOfFriend{
    font-size: 2vh;
    width: auto;
    margin-left: 1vh;
}

.divMyMessage{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #8370E0;
    border-radius: 15px;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-bottom: 1.5vh;
}

.messageOfMe{
    color: white;
    font-size: 2vh;
    margin-left: 1vh;
}

.divResponse{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 15px;
    border:2px solid #8370E0;
    margin-left: 5vh;
    padding-left: 1vh;
    margin-bottom: 1vh;
}
.author{
    margin-right: 2vh;
    color: black;
}
.divResponseOfMe{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 15px;
    margin-left: 5vh;
    padding-left: 1vh;
    margin-bottom: 1vh;
    background-color: #8370E0;
}

.buttonBackToHome{
    border: none;
    padding: 1vh;
    color: #A238FF;
    background-color: white;
    font-weight: bold;
    margin-left: 2vh;
    font-size: 6vh;
}


